@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwind.css";

*{
    font-family:"Outfit", sans-serif; ;
}

:root {
    --color-primary: #4F46E5;
    --color-primary-dull: #4338CA;
}
/* Removed unused color variables */

.no-scrollbar::-webkit-scrollbar{
    display: none;
}